%h1 Sign-up

= form_tag movies_path do

  = label :user, :user_id, 'User-ID'
  = text_field :user_id, 'user_id'

  = label :user, :email, 'E-Mail'
  = text_field :email, 'email'
  
  = submit_tag 'Create my Account'